gcp_project_id = "caseyproject"
gcp_region = "us-east4"
gcp_zone = "us-east4-c"
machine_type = "e2-standard-4"
# machine_image = ""
ssh_public_key_file = "/Users/casburnett/.ssh/google_compute_engine.pub"
# machine_disk_size = ""
# fabric_subnet_inside = ""
# fabric_subnet_outside = ""
f5xc_tenant = "<mega-corp>-ntptydgm"
f5xc_api_url = "https://davita.console.ves.volterra.io/api"
# f5xc_namespace = "system"
f5xc_api_token = "<FILL_ME_IN>"
# f5xc_fleet_label = "gcp-ce-test"
cluster_latitude = "38.983570"
cluster_longitude = "-77.517220"
f5xc_api_p12_file = "./cert/<FILL_ME_IN>"